// node
node_modules/
dist/
target/

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# typescript
*.tsbuildinfo

//packages
packages/web/wasm/*.wasm
packages/web/wasm/spanda_wasm_bg.wasm.d.ts
packages/native/*.node
packages/native/native.js
packages/native/native.d.ts
packages/native/dist/
packages/native/index.js
packages/native/index.js.map
packages/native/index.d.ts

// logs
*.log
.DS_Store

// vscode
.cursor/
.githooks/

// cargo
.cargo/config.toml

// spanda
.spanda-*.sd
.spanda/

//python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw